---
layout: layouts/base.njk
title: Title Strings
---

<article class="hero">
    <img class='hero__image' src="images/hero.jpg" alt="">
    <div class="hero__logo">
                    <img class="logo" src="images/10access_logo.svg" alt="">
    </div>
    <div class="hero__content">
        <h1 class="hero__title">Place Holder</h1>
        <div class="hero__copy">Clases Online Duracion 15 minutos</div>
        <div class="hero__price">$ XXX.000 COP</div>
        <button class="cta cta--primary">comprar</button>
    </div>
</article>


<article class="featured">
    <h2 class="featured__title title--primary">Descripción - quiénes somos</h2>
    <div class="dropdown">
        <input type="checkbox" id="featured-expanded" class="dropdown__input" />
        <p class="dropdown__copy featured__copy">
            Texto corrido introductorio, expectativas del contenido, beneficios de
            10 Access. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
            exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
            vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit praesent luptatum zzril delenit augue duis dolore te feugait
            nulla facilisi.
        </p>
        <label
            class="dropdown__button"
            for="featured-expanded"
            role="button"
        >
            <i class="fas fa-angle-down"></i>
        </label>
    </div>
</article>

<article class="props">
    <div class="props__content">
        <h2 class="props__title title--primary">Beneficios del curso</h2>
        <p class="props__copy">
        </p>
        <div class="dropdown">
            <input type="checkbox" id="props-expanded" class="dropdown__input" />
            <p class="dropdown__copy props__copy">
                Texto corrido introductorio, expectativas del contenido, beneficios de
                10 Access. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                blandit praesent luptatum zzril delenit augue duis dolore te feugait
                nulla facilisi.
            </p>
            <label
                class="dropdown__button"
                for="props-expanded"
                role="button"
            >
               <i class="fas fa-angle-down"></i>
            </label>
        </div>
        <div class="props__action">
            <div class="props__price">$ XXX.000 COP</div>
            <button class="cta cta--secondary">comprar</button>
        </div>
    </div>
    <div class="props__preview">
        <img src="images/video.jpg" alt="">
        <div class="play">
            <i class="far fa-play-circle"></i>
            <span>Reproducir Video</span>
        </div>
    </div>
    <dialog class="props__video">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/9P16xvwMQ5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <i class=" close far fa-times-circle"></i>
    </dialog>
</article>

<article class="cards">
    <h2 class="cards__title title--primary">Contenido gratuito</h2>
    <p class="cards__copy">Texto corrido introductorio, expectativas del contenido, beneficios de 10 Access. Lorem ipsum dolor sit amet.
    </p>
    <div class="cards__wrapper">
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 1</h3>
                <p class="card__item-copy">Datos claves de la clase</p>
            </div>
            <div class="card__item-back">
                <h3 class="card__item-name">Nombre Actividad</h3>
                <p class="card__item-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 1</h3>
                <p class="card__item-copy">Datos claves de la clase</p>
            </div>
            <div class="card__item-back">
                <h3 class="card__item-name">Nombre Actividad</h3>
                <p class="card__item-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 1</h3>
                <p class="card__item-copy">Datos claves de la clase</p>
            </div>
            <div class="card__item-back">
                <h3 class="card__item-name">Nombre Actividad</h3>
                <p class="card__item-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 1</h3>
                <p class="card__item-copy">Datos claves de la clase</p>
            </div>
            <div class="card__item-back">
                <h3 class="card__item-name">Nombre Actividad</h3>
                <p class="card__item-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
    </div>
</article>


<article class="testimonies">
  <div class="testimonies__item">
    <blockquote>
            TESTIMONIOS expectativas del contenido, beneficios de 10 Access. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        <figcaption class="quote-by">Jim Rohn</figcaption>
    </blockquote>
  </div>
  <div class="testimonies__item">
      <blockquote>
            TESTIMONIOS expectativas del contenido, beneficios de 10 Access. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
   <figcaption class="quote-by">Jim Rohn</figcaption>
    </blockquote>
  </div>
  <div class="testimonies__item">
      <blockquote>
            TESTIMONIOS expectativas del contenido, beneficios de 10 Access. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
   <figcaption class="quote-by">Jim Rohn</figcaption>
    </blockquote>
  </div>
</article>

<article class="newsletter">
    <div class="newsletter__wrapper">
        <h2 class="newsletter__title title--primary">Subsríbete</h2>
    <p class="newsletter__copy">
    Texto corrido introductorio, expectativas del contenido, beneficios de 10 Access. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
    </p>

    <form id="newsletter-form">
        <legend>Correo electrónico:</legend>
        <input name="email" type="email" placeholder="Ingresa tu correo electrónico" required>
        <button id="newsletter-submit" type="submit">Enviar</button>
    </form>
    </div>
</article>

<footer class="footer">
    <div class="footer__wrapper">
        <ul class="footer__language">
            <li><a href="">ESP</a></li>
            <li><a href="">ENG</a></li>
        </ul>
        <ul class="footer__nav">
            <li><a href="">Contactenos</a></li>
            <li><a href="">Terminos y condiciones</a></li>
        </ul>
        <ul class="footer__social">
            <li><a href="">
                <i class="fab fa-twitter"></i>
            </a></li>
            <li><a href="">
                <i class="fab fa-linkedin-in"></i>
            </a></li>
            <li><a href="">
                <i class="fab fa-youtube"></i>
            </a></li>
            <li><a href=""></a></li>
        </ul>
        <a href="#" class="footer__chat">
            <span>chat en linea</span>
            <i class="fab fa-whatsapp footer__chat-icon"></i>
        </a>
    </div>
</footer>