---
layout: layouts/base.njk
title: Title Strings
---

  
<article class="hero">
    <img class='hero__image' src="images/hero.jpg" alt="">
    <div class="hero__logo">
                    <img class="logo" src="images/10access_logo.svg" alt="">
    </div>
    <div class="hero__content">
        <h1 class="hero__title">Combinando neurociencias del comportamiento, técnicas avanzadas del FBI y de la escuela de negociación de Harvard, hemos creado el primer curso 100% online de negociación aplicada al sector farmacéutico</h1>
        <div class="hero__copy">Durante 2 meses - 15 min al día </div>
        <div class="hero__price">$ 599.000 COP</div>
        <button class="cta cta--primary">comprar</button>
    </div>
</article>


<article class="featured">
    <h2 class="featured__title title--primary">¿Quiénes somos?</h2>
    <div class="dropdown">
        <input type="checkbox" id="featured-expanded" class="dropdown__input" />
        <p class="dropdown__copy featured__copy">
Somos un grupo de médicos, empresarios y negociadores con más de 5 años de experiencia negociando con éxito en el sector salud y farmacéutico. Hemos cerrado acuerdos exitosos con más de 20 multinacionales farmacéuticas, aseguradores y prestadores. Combinamos neurociencias, psicología del comportamiento, técnicas de negociación bajo presión del FBI y los preceptos de la escuela de negociación de Harvard, para crear el curso más avanzado de negociación para el sector farmacéutico en Latinoamérica.   
        </p>
        <label
            class="dropdown__button"
            for="featured-expanded"
            role="button"
        >
            <i class="fas fa-angle-down"></i>
        </label>
    </div>
</article>

<article class="props">
    <div class="props__content">
        <h2 class="props__title title--primary">Beneficios del curso</h2>
        <p class="props__copy">
        </p>
        <div class="dropdown">
            <input type="checkbox" id="props-expanded" class="dropdown__input" />
            <p class="dropdown__copy props__copy">1. Aprenderá técnicas de negociación que podrá ejecutar inmediatamente, a través de micro aprendizajes diarios de 15 min, cuando quiera y como quiera.
            </p>
            <p class="dropdown__copy props__copy">2. Desarrollará habilidades que muy pocas personas conocen y que lo llevarán a ser negociador de resultados.
            </p>
            <p class="dropdown__copy props__copy">3. Aplicará técnicas específicas y claras, respaldadas por la ciencia, que lo llevarán a acuerdos de éxito.
            </p>
            <p class="dropdown__copy props__copy">4. Desarrollará una habilidad sorprendente para leer y entender a las personas.
            </p>
            <p class="dropdown__copy props__copy">5. Sabrá exactamente qué técnicas específicas de negociación requiere cada situación específica.
            </p>
            <p class="dropdown__copy props__copy">6. Tendrá arsenal de habilidades que podrá combinar en cualquier negociación.
            </p>
        </div>
        <div class="props__action">
            <div class="props__price">$ 599.000 COP</div>
            <button class="cta cta--secondary">comprar</button>
        </div>
    </div>
    <div class="props__preview">
        <img src="images/video.jpg" alt="">
        <div class="play">
            <i class="far fa-play-circle"></i>
            <span>Reproducir Video</span>
        </div>
    </div>
    <dialog class="props__video">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/9P16xvwMQ5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <i class=" close far fa-times-circle"></i>
    </dialog>
</article>

<article class="cards">
    <h2 class="cards__title title--primary">¿Qué tan bueno es usted negociando?</h2>
    <p class="cards__copy">Conozca una de nuestras clases gratis.
    </p>
    <div class="cards__wrapper">
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 1</h3>
                <p class="card__item-copy">¿Cómo construir empatía en una negociación?</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 2</h3>
                <p class="card__item-copy">¿Cómo enviar un correo que sí le contesten?</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 3</h3>
                <p class="card__item-copy">¿Cómo negociar un aumento de salario?</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
    </div>
</article>


<article class="testimonies">
  <div class="testimonies__item">
    <blockquote>
            Un curso con temática completa e interesante.
        <figcaption class="quote-by">Andres Perez</figcaption>
    </blockquote>
  </div>
  <div class="testimonies__item">
      <blockquote>
            Vale la pena tomar el curso por su fácil acceso y temas que aportan a mi conocimiento
   <figcaption class="quote-by">Valeria Lopez</figcaption>
    </blockquote>
  </div>
</article>

<article class="newsletter">
    <div class="newsletter__wrapper">
        <h2 class="newsletter__title title--primary">Suscribete</h2>
    <p class="newsletter__copy">
        Próximamente lanzamiento, Daremos descuento del 10% a los primero 50 estudiantes 
    </p>

    <form id="newsletter-form">
        <legend>Correo electrónico:</legend>
        <input name="email" type="email" placeholder="Ingresa tu correo electrónico" required>
        <button id="newsletter-submit" type="submit">Enviar</button>
    </form>
    </div>
</article>

<footer class="footer">
    <div class="footer__wrapper">
        <ul class="footer__language">
            <li><a href="">ESP</a></li>
            <li><a href="">ENG</a></li>
        </ul>
        <ul class="footer__nav">
            <li><a href="">Contactenos</a></li>
            <li><a href="">Terminos y condiciones</a></li>
        </ul>
        <ul class="footer__social">
            <li><a href="">
                <i class="fab fa-twitter"></i>
            </a></li>
            <li><a href="">
                <i class="fab fa-linkedin-in"></i>
            </a></li>
            <li><a href="">
                <i class="fab fa-youtube"></i>
            </a></li>
            <li><a href=""></a></li>
        </ul>
        <a href="#" class="footer__chat">
            <span>chat en linea</span>
            <i class="fab fa-whatsapp footer__chat-icon"></i>
        </a>
    </div>
</footer>